@media (max-width: 800px) { 

    .cover-wrapper {

        .cover-container {

            .inner {

                &.cover {
                    padding-left: 20px !important;
                }
            }
        }
    }

    .section {
        margin-left: 0;

        .row {

            h2 {
                margin-top: 100px;
            }
        }

        &.team {

            .member {

                img {
                    max-width: 180px;
                }
            }
        }
    }
}